// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much
.star-net {
  background-image: url('../images/universe-2.jpg');
  background-size: 100% 100%;
}
.header-info {
  position: relative;
  z-index: 2;
}
#galaxy {
  position: absolute;
  top: 0;
  left: 0;
}
